nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
  color: #FFFFFF;
  background-color: #4056A1;
  height: 120px;
  font-family: Bungee, sans-serif;
  padding-bottom: 15px;
  padding-top: 26px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.right-nav>p {
  margin: 0;
}

.right-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Source Sans Pro, Sans-Serif;
  font-size: 0.75em;
  background: transparent;
  border: 0px;
  color: white;
  cursor: pointer;
}

.navbar button {
  font-size: 0.75em;
  color: white;
  background-color: #4056A1;
  cursor: pointer;
  height: 77px;
  width: 247px;
  border-radius: 20px;
  border: solid #5675dc;
}

button.right-nav:hover {

  box-shadow: 2px 5px #888888;
  text-shadow: 0.2px 0.2px rgb(79, 79, 136);
}

.chevron {
  display: flex;
  justify-content: center;
  color: crimson;
  font-size: 1em;
  font-weight: 600;
  padding-top: 10px;
  pointer-events: none;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  25% {
    transform: scale(1, 1) translateY(0);
  }

  50% {
    transform: scale(1, 1) translateY(-10px);
  }
}

.chevron {
  animation: bounce 1s linear infinite;
}