nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* why do I need js here? how to get he navbar size correct? */
  margin: 0;
  padding: 1.5em;
  color: #FFFFFF;
  background-color: #4056A1;
  height: 120px;
  font-family: Bungee, sans-serif;
}

.right-nav>p {
  margin: 0;
}

.right-nav {
  font-family: Source Sans Pro, Sans-Serif;
  font-size: 0.75em;
}

.new-tweet {
  font-weight: bold;
}

.chevron {
  display: flex;
  justify-content: center;
  color: crimson;
  font-size: 0.75em ;
  font-weight: 600;
  padding-top: 10px;
  }

@keyframes bounce {
  0%   { transform: scale(1,1) translateY(0); }
  25%  { transform: scale(1.1) translateY(0); }
  50%  { transform: scale(1.1)   translateY(-10px);}
  /* 50%  { transform: scale(1.05,.95) translateY(0); } */
  /* 58%  { transform: scale(1,1) translateY(-7px); }
  65%  { transform: scale(1,1) translateY(0);}
  100% { transform: scale(1,1) translateY(0);} */
}

.chevron {
  animation: bounce 1s linear infinite;
}