form {
  display: flex;
  flex-direction: column;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
}
.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family:Bungee, sans-serif;
  font-size: 0.75em;
}

.new-tweet button {
  font-size: 0.75em;
  color: white;
  background-color: #4056A1;
  border: none;
  cursor: pointer;
}

.new-tweet button:hover {
  box-shadow: 2px 5px #888888;
  text-shadow: 0.2px 0.2px rgb(79, 79, 136);
}

.new-tweet textarea {
  display: flex;
  font-family:Source Sans Pro , sans-serif;
  font-size: 0.5em;
  font-weight: 600;
  margin-top: 30px;
  background-color: #f4f1ec;
  border-width: thick;
  border-top: none;
  border-right: none;
  border-left: none;
  height: 50px;
  margin-bottom: 20px;
  resize: none;
}

.tweet-text {
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 5px, solid, black;
  word-wrap: break-word;
}

#error-print {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  border: 3px red solid;
  border-radius: 10px;
}